body {
  min-width: 320px;

  > .site {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 0;
}

.darker-text {
  color: $c-text;
}


// Custom numbered list bullet styles
ol {
  counter-reset: item;
  margin: 0 0 1em;
  padding: 0;

  > li {
    counter-increment: item;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 2.5rem;
    text-indent: -1.5rem;

    &::before {
      content: counter(item) '.';
      display: inline-block;
      font-weight: bold;
      padding-right: 1.125rem;
      text-align: right;
      width: 1.5rem;
      font-size: 112.5%;
    }

    &:not(:last-child) {
      margin: 0 0 0.5rem;
    }
  }
}

.social {
  list-style: none;
  margin: 0 -5px;
  padding: 0;

  li {
    margin: 5px;
    display: inline-block;
    line-height: 1;
  }
}

.btn {
  text-decoration: none;
  font-weight: normal;

  i {
    vertical-align: middle;
  }
}

.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: 100vw;
}

.dark-bg {
  background-color: $gray-900;
  color: $white;
}

#statBar {
  background-color: $gray-900;
  color: $primary;
  margin: 0;

  .col {
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  .image {
    padding-right: 20px;
  }

  img {
    min-width: 40px;
  }

  .stat {
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    .amount {
      font-size: 24px;
      display: block;
      color: #FFF;
    }
  }

  @include media-breakpoint-down(md) {
    .image {
      padding-right: 10px;
    }
    img {
      width: 30px;
    }
    .col {
      padding: 20px 15px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin: -0.5px;
      flex: 1 0 30%;
    }
    .stat {
      font-size: 16px;

      .amount {
        font-size: 20px;
      }
    }
  }
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &.horizontal {
    li {
      display: inline-block;
    }
  }
}

.section-padding {
  padding-top: $block-spacing;
  padding-bottom: $block-spacing;
  @include media-breakpoint-down(sm) {
    padding-top: $block-spacing-small;
    padding-bottom: $block-spacing-small;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
}

// Table overrides to match the concept style

.table {
  margin: 0;

  th, td {
    vertical-align: middle;
    border-top: none !important;
    border-bottom: none !important;
  }

  thead {
    th {
      white-space: nowrap;
      position: relative;
      padding-right: 35px;
      font-size: 16px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    td {
      color: $c-text-light;

      p {
        margin-bottom: 8px;
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .sorter {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    i {
      opacity: 1;
      transition: all 150ms ease;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .btn-outline-primary-dark:not(:hover) {
    border-color: $c-text;
    color: $c-text;
  }
}

.table-footer {
  font-size: 16px;
  color: $c-text-light;
  margin-top: 40px;

  .custom-select {
    width: auto;
    margin: 0 10px;
    display: inline-block;
    background-color: $c-page-background;
  }

  .table-buttons {
    .btn {
      margin: 40px 15px 0;

      @include media-breakpoint-down(sm) {
        margin: 20px auto 0;
        display: block;
      }
    }

    .btn-outline-dark {
      border-width: 2px;
    }
  }
}


.pagination {
  margin: 0;

  a {
    text-decoration: none;
  }
}

#titleBar {
  .main-image {
    width: 280px;
    height: 200px;
    padding: 30px;
    background-color: #FFF;
    border: 2px solid $c-border;
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .btn {
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;

    i {
      margin-right: 5px;
      margin-left: 0;
      vertical-align: text-top;
      font-size: 112.5%;
    }

    &:not(:first-child) {
      margin-left: 30px;
    }
  }


  @include media-breakpoint-down(sm) {
    .btn {
      font-size: 14px;
      padding: 8px 12px;
      margin: 0 5px 10px !important;
    }

  }
}

.padding-40 {
  padding: 40px;
  @include media-breakpoint-down(xs) {
    padding: 20px 15px;
  }
}

.solid-tabs {
  border: none;
  margin-bottom: 40px;

  .nav-link {
    text-decoration: none;
    background-color: $c-page-background;
    color: $c-text;
    text-align: center;
    border: none;
    padding: 15px 2px;
    font-weight: bold;

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: $primary;
      color: #FFF;
    }

    &:hover:not(.active) {
      background-color: darken($c-page-background, 5%);
    }
  }
}

.map {
  min-height: 800px;
}

.tab-content {
  .data-table {
    margin-bottom: 40px;
  }
}

.data-table {
  color: $c-text-light;
  font-size: 16px;

  .label {
    padding-right: 50px;

    h4 {
      margin: 0;
    }
  }

  .value {
    i {
      margin-right: 10px;
    }

    .layer {
      margin-right: 20px;
    }

    .kml i {
      color: #3164C0;
    }

    .shp i {
      color: #40AC7B;
    }
  }
}

.options-table {
  width: 100%;
  color: $c-text-light;
  font-size: 16px;

  td {
    vertical-align: middle;
    padding-bottom: 10px;
  }

  .options {
    text-align: right;

    .btn {
      color: $c-text-light;
      padding: 8px 20px;

      i {
        margin: 0;
      }
    }
  }

  .dropdown-toggle-split {
    border-left: 1px solid $gray-400;
  }

  .dropdown-menu {
    a {
      text-decoration: none;
    }
  }

  .color {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}

.custom-checkbox {
  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  label {
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    color: inherit;
    transition: color 150ms ease;
    margin: 0;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      //border:           1px solid $gray-400;
      background-color: $c-page-background;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      content: '\f00c';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: #55DC38;
      font-size: 22px;
      position: absolute;
      left: 3px;
      top: 50%;
      transition: all 200ms ease;
      transform: translateY(-58%) scale(0.5);
      opacity: 0;
    }

    &:hover {
      color: $c-text;

      &:before {
        background-color: darken($c-page-background, 2%);
      }
    }
  }

  input:checked + label:after {
    opacity: 1;
    transform: translateY(-58%) scale(1);
  }
}

#project {
  font-size: 16px;
  color: $c-text-light;
}

.accordion-header {
  background-color: $c-page-background;
  padding: 18px 30px;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  color: $c-text-light;
  cursor: pointer;
  position: relative;
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:after {
    content: '\f068';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;

    .card & {
      right: 0;
    }
  }

  h4 {
    margin: 0;
  }

  &:hover {
    background-color: darken($c-page-background, 2%);
  }

  &.collapsed {
    &:after {
      content: '\f067';
    }
  }

  #filters & {
    padding: 15px 20px;
    &:after {
      content: '\f078';
    }
    &.collapsed {
      &:after {
        content: '\f077';
      }
    }
  }

}

.accordion-body {
  padding: 18px 30px 10px;

  &.full-width {
    padding: 10px 0;
  }

  h4, h5 {
    margin-bottom: 0.5rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px 15px 10px;
  }

  #filters & {
    padding: 15px 20px 10px;
    @include media-breakpoint-down(sm) {
      padding: 18px 20px 10px;
    }
  }
}

.contributor {
  &:nth-child(n+3) {
    margin-top: 15px;
  }

  h4 {
    margin-bottom: 3px;
  }

  p {
    margin: 0;
  }

  img {
    float: left;
    width: 38px;
    margin-right: 8px;
  }

  @include media-breakpoint-down(sm) {
    &:nth-child(n+2) {
      margin-top: 15px;
    }
  }
}

.partner-logos {
  margin: 0 -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    width: 16.6666%;
    padding: 15px;
    height: auto;
    @include media-breakpoint-down(sm) {
      width: 33.333%;
    }
  }
}

.linkbox {
  display: block;
  position: relative;
  margin-bottom: 30px;

  img {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    padding: 14px 30px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease;
  }

  &:hover {
    .btn {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#sidebar {
  color: $c-text;
}

.related {
  display: flex;

  .dropdown {
    display: flex;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .dropdown-menu {
    padding: 0;
    margin: 20px 0;
    width: 380px;
    border-color: $c-page-background;
  }
}

.btn-related {
  position: relative;
  padding: 5px 5px 30px;
  background-color: transparent;
  border: 2px solid $c-border;

  &.dropdown-toggle:after {
    display: block;
    margin: 5px auto;
    color: $gray-500;
    border-width: 0 0 2px 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
  }

  &[aria-expanded=true]:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: $c-page-background;
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: rotate(45deg) translateX(-70%);
  }
}

.card {
  padding: 0 30px 30px;

  .dropdown-close {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .card-header {
    color: $c-text-light;
    border-bottom: 1px solid $gray-400;
    padding: 18px 0 20px;
    margin: 0;
  }

  .card-body {
    color: $c-text-light;
    padding: 25px 0 0;
  }

  label {
    font-weight: 900;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }

  input[type=text], input[type=search], input[type=number], input[type=tel] {
    border: none;
    height: 50px;
  }

  [type=submit] {
    font-family: $font-family-base;
    font-weight: normal;
    font-size: 16px;

    svg {
      margin-right: 5px;
    }
  }
}

.input-daterange {
  flex-wrap: nowrap;

  .input-group-addon {
    padding: 15px 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    .input-group-addon {
      text-align: center;
    }
  }
}

.datepicker-wrap {
  background-color: #FFF;
  position: relative;

  &:after {
    content: '\f073';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: $c-text-light;
  }

  input {
    position: relative;
    z-index: 10;
    background-color: transparent !important;
    padding-right: 30px;
  }
}

.export-btn {
  position: relative;

  &[aria-expanded=true]:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: $c-page-background;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: rotate(45deg) translateX(-70%);
  }
}

.icon-text {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h4, h5 {
    margin-bottom: 0.6rem;
  }

  .image {
    min-width: 50px;
    margin-right: 20px;
  }

  &.mobile-app .image {
    min-width: 35px;
  }

  .content {
    color: $c-text-light;

    *:last-child {
      margin-bottom: 0;
    }
  }

  .store-link {
    text-decoration: none;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 15px;
    }

    img {
      width: auto;
      height: 30px;
    }
  }
}

ul.tick {
  list-style: none;
  padding: 0;
  font-size: 14px;

  > li {
    margin: 0;
    padding: 0 0 0 2.5rem;
    text-indent: -1.5rem;

    &::before {
      content: '\f00c';
      font-family: 'Font Awesome 5 Free';
      display: inline-block;
      font-weight: 600;
      padding-right: 1.125rem;
      text-align: right;
      width: 1.5rem;
      font-size: 112.5%;
    }

    &:not(:last-child) {
      margin: 0 0 0.25rem;
    }
  }
}

ul.links {
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    a {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $c-border;
      color: $c-text;
      text-decoration: none;
      font-weight: 500;
      justify-content: space-between;
      align-items: center;
      transition: all 200ms ease;

      i {
        margin-right: 20px;
        margin-left: 5px;
        transition: inherit;
      }

      &:hover {
        color: $primary-dark;

        i {
          margin-right: 0;
        }
      }
    }

    &:first-child {
      a {
        border-top: 1px solid $c-border;
      }
    }
  }
}

#buttonGrid {
  .btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    span {
      flex-grow: 1;
      white-space: normal;

      small {
        display: block;
        font-size: 14px;
      }
    }

    .image {
      margin: -0.375rem 0.625rem -0.375rem -0.375rem;
      flex: 0 0 75px;
      width: 75px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
      .image {
        flex: 0 0 55px;
        height: 44px;
      }
    }
  }

  @supports (display: grid) {
    .row {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin: 0 !important;

      .col-12 {
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
      }
    }
  }
}

.custom-select {

}