Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.asscache
grails-app/assets/components/compile/biocollect-templates.js
grails-app/assets/components/compile/*