<div class="row bg-selected-color padding-5">
    <div class="col-12 col-xl-6">
        <h6>Base layers</h6>
        <div class="row">
            <div class="col-12 table-responsive">
                <div class="form-group row">
                    <label class="col-form-label col-4">
                        Choose base layer
                        <a href="#" class="helphover" data-bind="popover: {content:'Select a base layer e.g. - Satellite map, Road map, Topographic map etc.'}">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </label>
                    <div class="col-8 btn-space">
                        <div class="input-group">
                            <select class="custom-select" data-bind="options: allBaseLayers, optionsText: 'displayText', value: selectedBaseLayer, optionCaption: 'Choose base layer ...'"></select>
                            <div class="input-group-append">
                                <button class="btn btn-dark add-base-layer" data-bind="click: addBaseLayerClickHandler, disable: allBaseLayers().length == 0">
                                    <i class="fas fa-plus"></i> Add
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>
                            Display name
                            <a href="#" class="helphover" data-bind="popover: {content:'Change that text appearing on the layer selection panel'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                        <th>
                            Is default?
                            <a href="#" class="helphover" data-bind="popover: {content:'The selected layer will be show by default
                    to the users. Users will have the option to select other base layers you have selected here.'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                        <th>
                            Actions
                            <a href="#" class="helphover" data-bind="popover: {content:'<strong>Remove</strong> Removes selected base layer.<br>
                    <strong>Move up</strong> Change the order of base layers by moving this base layer up.<br>
                            <strong>Move down</strong> Change the order of base layers by moving this base layer down.'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: baseLayers -->
                        <tr>
                            <td>
                                <!-- ko text:code --> <!-- /ko -->
                            </td>
                            <td>
                                <input class="form-control form-control-sm" type="text" data-bind="value: displayText"/>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="defaultBaseMap"
                                           data-bind="checked: $parent.codeChecked, value: code"/>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-12 btn-space">
                                        <button class="btn btn-sm  btn-dark move-up-base-layer mt-1" data-bind="click: moveUp, enable: canMoveUp($data)"><i
                                                class="fas fa-arrow-up"></i> Move up
                                        </button>
                                        <button class="btn btn-sm btn-dark move-down-base-layer mt-1" data-bind="click: moveDown, enable: canMoveDown($data)"><i
                                                class="fas fa-arrow-down"></i> Move down
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-sm btn-danger mt-1" data-bind="click: removeBaseLayer"><i
                                                class="far fa-trash-alt remove-base-layer"></i> Remove</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                        <tr data-bind="if: baseLayers().length == 0">
                            <td colspan="4">
                                No base layer selected.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6><strong>Base Layer Help!</strong></h6>
                    <p>
                        To control the appearance of the map users will see, do the following:
                    </p>
                    <ol>
                        <li class="alert-info">
                            Select the base layer(s) that you want users to be able choose from.
                        </li>
                        <li class="alert-info">
                            Select which one of the layers you want to display on forms by default.
                        </li>
                        <li class="alert-info">
                            Move the display sequence of available layers up/down as required.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 bg-selected-color">
        <h6>Overlays</h6>
        <div class="row">
            <div class="col-12 table-responsive">
                <div class="form-group row">

                    <div class="col-form-label col-4">
                        Choose overlay
                        <a href="#" class="helphover" data-bind="popover: {content:'Select an overlay e.g. Australian Coral Ecoregions, Local Gov. Areas etc.'}">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <div class="col-8 btn-space">
                        <div class="input-group">
                            <select class="custom-select" data-bind="options: allOverlays, optionsText: 'title', value: selectedOverlay, optionCaption: 'Choose overlay ...'"></select>
                            <div class="input-group-append">
                                <button class="btn btn-dark add-overlay" data-bind="click: addOverlayClickHandler, disable: allOverlays().length == 0">
                                    <i class="fas fa-plus"></i> Add
                                </button>
                            </div>
                            </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Display name
                            <a href="#" class="helphover" data-bind="popover: {content:'Change that text appearing on the layer selection panel'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                        <th>
                            Is selected<br/>by default?
                            <a href="#" class="helphover" data-bind="popover: {content:'The selected overlay will be shown on map by default.
                    Others are available for selection on the layer control (present on map at top right corner)'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                        <th>
                            Opacity
                            <a href="#" class="helphover" data-bind="popover: {content:'Opacity of the overlay when displayed on map'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                        <th>
                            Actions
                            <a href="#" class="helphover" data-bind="popover: {content:'<strong>Remove</strong>  Removes selected overlay.<br>
                    <strong>Move up</strong> Change the order of overlays by moving this overlay up.<br>
                            <strong>Move down</strong> Change the order of overlays by moving this overlay down.<br>
                            <strong>More settings</strong> Show or hide overlay options'}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: overlays -->
                    <tr>
                        <td><!-- ko text:alaName --> <!-- /ko --></td>
                        <td><input class="form-control form-control-sm" type="text" data-bind="value: title"/></td>
                        <td><div class="form-check"><input class="form-check-input" type="checkbox" data-bind="checked: defaultSelected"/></div></td>
                        <td>
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider" data-bind="slider: {min: 0, max: 1, step:0.1, model: opacity}"></div>
                                </div>
                            </div>
                        <td>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-sm btn-dark move-up-overlay mt-1" data-bind="click: moveUp, enable: canMoveUp($data)"><i
                                        class="fas fa-arrow-up"></i> Move up
                                </button>
                                <button class="btn btn-sm btn-dark move-down-overlay mt-1" data-bind="click: moveDown, enable: canMoveDown($data)"><i
                                        class="fas fa-arrow-down"></i> Move down
                                </button>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-12 btn-space">
                                    <!-- ko if: Biocollect.MapUtilities.isContextualLayer(alaId) || $parent.showAdvancedFeatures -->
                                    <button class="btn btn-sm btn-dark" data-toggle="collapse"
                                            data-bind="attr: {'data-target': '#overlay-' + $index()},click: $parent.noDefaultAction">
                                        <i class="fas fa-cog"></i>
                                        More settings
                                    </button>
                                    <!-- /ko -->
                                    <button class="btn btn-sm btn-danger remove-overlay" data-bind="click: removeOverlay">
                                        <i class="far fa-trash-alt"></i> Remove
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- ko if: Biocollect.MapUtilities.isContextualLayer(alaId) || $parent.showAdvancedFeatures -->
                    <tr>
                        <td colspan="5">
                            <div class="collapse" data-bind="attr: {id: 'overlay-' + $index()}">
                                <!-- ko if: Biocollect.MapUtilities.isContextualLayer(alaId) -->
                                <div class="form-group row">
                                    <label class="col-form-label col-4">
                                        Change the colour of overlay?
                                        <a href="#" class="helphover" data-bind="popover: {content:'It is possible to change the rendering of a contextual layer e.g. Australian state and territories.'}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <div class="col-8 form-check">
                                        <input class="form-check-input" type="checkbox"
                                               data-bind="checked: changeLayerColour"/>
                                    </div>
                                </div>
                                <!-- ko if: changeLayerColour -->
                                <div class="form-group row">
                                    <label class="col-form-label col-4">
                                        Border colour
                                            <a href="#" class="helphover" data-bind="popover: {content:'Overlay can have many shapes. Set border colour of the shape.'}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <div class="col-8">
                                        <input class="form-control form-control-sm" type="text"
                                               data-bind="value: boundaryColour" placeholder="hex colour e.g. #fdb863"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4">
                                        Fill colour
                                        <a href="#" class="helphover" data-bind="popover: {content:'Set fill colour of the shape'}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <div class="col-8">
                                        <input class="form-control form-control-sm" type="text"
                                               data-bind="value: fillColour" placeholder="hex colour e.g. #fdb863"/>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <div class="form-group row">
                                    <label class="col-form-label col-4">
                                        Display label on overlay
                                        <a href="#" class="helphover" data-bind="popover: {content:'The value of each shape can be displayed on the map. Check to display the text on overlay.'}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <div class="col-8 form-check">
                                        <input class="form-check-input" type="checkbox"
                                               data-bind="checked: showPropertyName"/>
                                    </div>
                                </div>
                                <div data-bind="slideVisible: showPropertyName">
                                    <div class="form-group row">
                                        <label class="col-form-label col-4">
                                            Colour of label text
                                            <a href="#" class="helphover" data-bind="popover: {content:'Set label colour'}">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <div class="col-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   data-bind="value: textColour" placeholder="hex colour e.g. #fdb863"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $parent.showAdvancedFeatures -->
                                <div class="form-group row">
                                    <label class="col-form-label col-4">User restriction</label>
                                    <div class="col-8">
                                        <select class="form-control" data-bind="value: userAccessRestriction">
                                            <option value="anyUser" selected>Any user</option>
                                            <option value="loggedInUser" selected>Logged in user</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4">In layer shape list</label>
                                    <div class="col-8 form-check">
                                        <input class="form-check-input" type="checkbox"
                                               data-bind="checked: inLayerShapeList"/>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                    <tr data-bind="visible: overlays().length == 0">
                        <td colspan="5">
                            No overlay selected.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6><strong>Overlay Help!</strong></h6>
                    <p>
                        If you want to change the default overlay selections, please follow steps 1-3 as per base layer settings.
                        Note that you can select multiple overlays to display by default.
                        You can also change the opacity (transparency) of each layer. Limited styling of layers is also available.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-bind="slideVisible: (baseLayers().length > 0 || overlays().length > 0) && showMap()">
    <div class="col-12">
        <h6>Map preview</h6>
        <div id="previewBaseLayer" style="width: 100%; height: 500px" data-bind="attr: {'data-leaflet-img': fcConfig.leafletAssetURL}">
        </div>
    </div>
</div>