/* Documents specific styles */

.nav-list.fc-docs-list {
    width: 100%;
    padding: 0;
}

.fc-docs-list-well {
    max-height: 550px;
    overflow-y: auto;
}

.fc-docs-list .media-body {
    line-height: 32px;
}

.well-small .fc-docs-list.nav-list > li > a,
.well-small .fc-docs-list.nav-list .nav-header,
.well-small .fc-docs-list.nav-list > li > div {
    margin-left: -9px;
    margin-right: -9px;
}

/* Allow divs to masquerade as a in nav lists */
.nav-list > li > div {
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav > li > div:hover {
    text-decoration: none;
    background-color: #dcdcdc;
}

.nav-list > .active > div, .nav-list > .active > div:hover, .nav-list > .active > div:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.row-fluid [class*="span"].fc-resource-preview-container {
    position: relative;
    /*height: 100%;*/
    min-height: 600px;
    margin-bottom: 20px;
}

.well.fc-resource-preview-well {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-resource-preview {
    width: 100%;
    height: 100%;
    border: none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pointer {
    cursor: pointer;
}

.nav-list > .active > a > div.media-body > a,
.nav-list > .active > div > div.media-body > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.nav-list > .active > a > div.media-body > a:hover,
.nav-list > .active > a > div.media-body > a:focus,
.nav-list > .active > div > div.media-body > a:hover,
.nav-list > .active > div > div.media-body > a:focus {
    color: #ddd;
}

/* End Documents */

/* Data entry map styles */
.data-entry-map-container {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}

.banner-image-container {
    position: relative;
    max-height: 450px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
}

.banner-image-caption {
    position: absolute;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
}

.text-output {
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
}

.block-header {
    position: relative;
    top: -19px;
    left: -5px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.req-field:after {
    content: "*";
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}

.right-padding {
    padding-right: 8px
}

.organisation-search {
    margin-left: 0 !important;
    margin-top: 10px;
}

.organisation-list {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    height: 8em;
    overflow-y: scroll
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-1 {
    margin-left: 20px;
}

.margin-bottom-1 {
    display: inline-block;
    margin-bottom: 10px;
}

.margin-bottom-2 {
    display: inline-block;
    margin-bottom: 20px;
}

.margin-top-1 {
    display: inline-block;
    margin-top: 10px;
}

.margin-top-2 {
    display: inline-block;
    margin-top: 20px;
}

.small-logo {
    width: 100%;
}

.text-small-heading {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
}

.left-aligned-label {
    margin-left: 0 !important;
    text-align: left !important;
}

#nav-site {
    background-color: rgb(27, 27, 27);
}

.associated-org {
    margin: 10px 10px 10px 0px;
}

.associated-org-no-logo {
    width: 100%;
    min-height: 135px;
    max-height: 300px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    position: relative;
    background: white;
}

.associated-org-no-logo span {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.padding-top-0 {
    padding-top: 10px;
}
.searchResultSection {
    padding-left: 20px;
}
.searchResultSection.locked h4 {
    margin-left:-19px;
}

.searchResultSection input {
    border: 5px solid white;
    -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.searchResultSection.spinner{
    display: none;
}
