.projectLogo {
    width: 200px;
    height: 150px;
    line-height: 146px;
    overflow: hidden;
    padding: 1px;
    text-align: center;
}
.projectType {
    padding-right: 10px;
    padding-left: 10px;
    background: grey;
    color: white;
    white-space: pre-line;
    display: inline-block;
    text-align: center;
}
input[type=checkbox] {
    margin-right: 5px;
}
#pt-downloadLink {
    margin-bottom: 10px;
    margin-top: 10px;
}

#pt-tags button {
    margin-top: 5px;
}

#pf-search{
    margin-top: 10px;
    margin-bottom: 20px;
}

#pt-searchControls{
    padding-top: 0px;
}

#pt-selectors{
    display: none;
    padding:10px;
}

#pt-search-link, #pt-filter{
    padding: 14px;
}

#pt-search{
    min-width: 100px;
    max-width: 300px;
    padding: 14px;
}

#pt-reset{
    margin-top:5px;
}

.padding5{
    padding-top:5px;
    padding-bottom:5px;
}

.pf-project-image{
    min-width:200px
}
.pf-project-text{

}
.pf-project-status{
    min-width:10em;
    text-align:center
}
/**
 * for showing selected buttons
*/
#pt-selectors .btn-info.active{
    background-color:#fbaf44;
    color: #fff;
}

.toggleIndicator{
    display: none;
}

.active .toggleIndicator{
    display: inherit;
}