.tiles .tile {
    min-height: 160px !important;
    background-image: none !important;
}

.tiles .tile-value,.tiles .tile-text {
    padding-left: 0 !important;
}

@media (max-width: 767px) {

    /*This may not apply for biocollect*/

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .tiles .tile {
        min-height: 130px !important;
        background-image: none !important;
    }
}

.tiles .tile {
    font-family: 'Oswald',sans-serif;
    background-color: #E5E5E5;
    color: #000;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 4px;
    min-height: 155px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 20px 60px;
}

.tiles .tile-title {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tiles .tile-value {
    font-size: 48px;
    padding-left: 120px;
    color: #fff;
}

.tiles .tile-units {
    font-size: 18px;
    color: #fff;
}

.tiles .tile-text {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 120px;
}

.tiles .tile-1 {
    background-color: #aa6cc2;
    background-image: url(../images/tile/users6.png);
}

.tiles .tile-2 {
    background-color: #26c281;
    background-image: url(../images/tile/shovel3.png);
}

.tiles .tile-3 {
    background-color: #44b6ae;
    background-image: url(../images/tile/plant43.png);
}

.tiles .tile-4 {
    background-color: #25aed6;
    background-image: url(../images/tile/beach57.png);
}

.tiles .tile-5 {
    background-color: #f26e83;
    background-image: url(../images/tile/agreement.png);
}

.tiles .tile-6 {
    background-color: #e87e04;
    background-image: url(../images/tile/forest2.png);
}


.tile-overlay {
    width:80px;
    height:80px;
    box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,0.5);
    bottom:0;
    left: 0px;
    top:0px;
    position: absolute;
    z-index: 1;
}
.tile-image{
    position:relative;
    width:80px;
    height:80px;
    /*display: block;*/
    /*overflow: hidden;*/
}

.tile-thumb {
    display: inline-block;
    width: 80px;
    height: 80px;
    /*margin: 5px;*/
    /*border: 3px solid #c99;*/
    background-position: center center;
    background-size: cover;
}