.projectLogo {
    width: 200px;
    height: 150px;
    line-height: 146px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background-color: white;
}

.project-finder-table{
    width: 100%;
}

table.table-list.project-finder-table td{
    vertical-align: top;
}

table.table-list.project-finder-table tr{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-row-layout{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-row-status{
    width: 200px;
}

.projectType {
    padding-right: 10px;
    padding-left: 10px;
    background: grey;
    color: white;
    white-space: pre-line;
    display: inline-block;
    text-align: center;
}
input[type=checkbox] {
    margin-right: 5px;
}
#pt-downloadLink {
    margin-bottom: 10px;
    margin-top: 10px;
}

#pt-tags button {
    margin-top: 5px;
}

#pf-search{
    margin-top: 10px;
    margin-bottom: 20px;
}

#pt-searchControls{
    padding-top: 0px;
}

#pt-selectors{
    display: none;
    padding:10px;
}

#pt-search-link, #pt-filter{
    padding: 14px;
}

#pt-search{
    min-width: 60px;
    width: 50%;
    max-width: 500px;
    padding: 14px;
}

#pt-reset{
    margin-top:5px;
}

.padding5{
    padding-top:5px;
    padding-bottom:5px;
}

.pf-project-status{
    min-width:10em;
}
/**
 * for showing selected buttons
*/
#pt-selectors .btn-info.active{
    background-color:#fbaf44;
    color: #fff;
}

.toggleIndicator{
    display: none;
}

.active > .toggleIndicator{
    display: inherit;
}

#pt-selectors{
    background-color: #E6F3F2;
}

/**
 * hide green background
 */
#pf-search .input-append .active, .input-prepend .active {
    border-color: #f15a3b;
}

/*chevron logic*/
#pf-search #pt-filter.active .icon-chevron-down{
    display: none;
}

#pf-search #pt-filter.active .icon-chevron-up{
    display: inherit;
}

/*image display size on project finder*/
.image-logo{
    max-width: 100%;
    max-height: 100%;
}

.wide {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
}​