@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

body {
  background-color: $body-background-color !important;
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $body-text-color;
}

.margin-top-70{
  margin-top: 70px
}

/** copied from ala-styles bootstrap3 since bootstrap2 did not have this style **/
section#breadcrumb li + li::before {
  content: "\f105";
  font-family: FontAwesome;
  margin: 0 .6em;
  height: .8em;
  opacity: .6;
}

section#breadcrumb {
  border-bottom: 1px solid $bread-crumb-background-colour;
  background-color: $bread-crumb-background-colour;
}


#main-content {
  h1, h2, h3, h4, h5 {
    font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }

  .ftr-container .ftr-social {
    margin-bottom: 0px;
  }

  input, button,
  select,
  textarea {
    font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  }

  #breadcrumb {
    margin-top: 10px;
  }

  #main-content #searchInfoRow #customiseFacetsButton > .dropdown-menu {
    background-color: $body-background-color;
  }

  a {
    color: $href-color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: $href-color;
  }

  .btn.btn-default {
    color: $default-text-color;
    background-color: $default-background-color;
    background-image: linear-gradient(to bottom, $default-background-color, $default-background-color);
    border-color: $default-background-color $default-background-color $default-background-color $default-background-color;
  }

  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn.active,
  .btn.disabled,
  .btn[disabled],
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .btn-default.disabled,
  .btn-default[disabled] {
    color: $default-btn-color-active;
    background-color: $default-btn-background-color-active;
    background-position: center center;
  }

  .btn-primary {
    color: $primary-text-color;
    background-color: $primary-background-color;
    background-image: linear-gradient(to bottom, $primary-background-color, $primary-background-color);
    border-color: $primary-background-color $primary-background-color $primary-background-color $primary-background-color;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled] {
    color: #ffffff;
    background-color: $primary-background-color;
  }

  .btn-primary:active,
  .btn-primary.active {
    background-color: $primary-background-color;
  }

  .btn-danger:hover {
    color: white;
  }

  .btn-danger {
    color: white;
  }

  .btn-group .active {
    background-color: #ddd;
    color: black;
  }

  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
  .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background-color: $primary-color;
    background-image: linear-gradient(to bottom, $primary-color, $primary-color);
    border-color: $primary-color $primary-color $primary-color $primary-color;
  }

  //override bootstrap background colour for tab
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
    background-color: white;
  }

  .form-actions{
    border: 0px;
    background-color: inherit;
  }

  /* Navbar */

  .nav {
    margin-top: 20px;
  }

  #content .nav-tabs > li.active > a {
    background-color: #ffffff;
  }

  .brand .headerLogo {
    height: 36px;
    padding-top: 10px;
    margin-top: -3px;
  }

  #mdbaLink .headerLogo {
    margin-top: -12px;
  }

  #mdbaHeadingText {
    display: inline-block;
    padding-top: 14px;
    padding-left: 5px;
  }

  /* Home page */

  #homeBanner {
    background-position: center;
    background-repeat: no-repeat;
    background-color: $banner-background-color;
    height: 240px;
    padding: 20px 40px;
    margin-top: 0px;
  }

  #bannerImg {
    max-height: 250px;
    display: block;
    margin-left: 25px;
  }
  .indexBuffer {
    margin-top: 50px;
  }

  .nav-well {
    display: block;
    width: 100%;
  }

  .homePageNav h4 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .homePageNav h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 5px;
    color: $nav-text-color;
  }

  .homePageNav h3.condensed {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 35px;
  }

  .homePageNav .nav-well {
    min-height: 135px;
    background-color: $nav-background-color;
    border: 0px solid $nav-background-color;
    padding: 30px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .nav-well {
    min-height: 135px;
    background-color: $well-background-color;
    border: 0px solid $well-background-color;
    padding: 30px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .well {
    background-color: $well-background-color;
    border: 0px solid $well-background-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }

  #pt-selectors.well {
    background-color: $facet-background-color;
    border: 0px solid $facet-background-color;
  }


  #pt-table .tile {
    background-color: $tile-background-color;
    border: 0px solid $tile-background-color;
  }

  #quickSearchBox {
    margin-top: -46px;
    margin-bottom: 10px;
  }

  #quickSearchBox .input-append input {
    font-size: 20px;
    padding: 14px 20px 12px 25px;
    width: 200px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 250px;
    border-radius: 25px 0 0 25px;
    height: 20px !important;
    line-height: normal;
  }

  #quickSearchBox .input-append .btn:last-child,
  #quickSearchBox .input-append .btn-group:last-child > .dropdown-toggle {
    font-size: 20px;
    padding: 14px 12px 12px 10px;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 25px 25px 0;
    border-radius: 0 25px 25px 0;
    line-height: 20px;
  }

  #customiseFacetsButton > .dropdown-menu,
  #resultsReturned .dropdown-menu {
    background-color: $body-background-color;
  }

  .staticContent {
    margin-top: 30px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .staticContent h2, .staticContent h3, .staticContent h4 {
    color: $primary-color;
  }

  .leaflet-container a {
    color: black;
  }

  /* Responsive rules */

  @media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav > li > a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
      color: #efefef;
    }

    .navbar-inner ul li:not(:last-child), .navbar-inner ul li:last-child {
      border-right: none;
      margin: 8px;
      padding: 0px;
    }
  }

  @media (max-width: 767px) {

    #quickSearchBox .input-append input, #quickSearchBox .input-append .btn:last-child {
      height: 20px;
      padding: 4px 12px 2px 10px;
      min-height: 30px;
      box-sizing: inherit;
    }
  }

  //Banner
  #bannerHub {
    max-height: 350px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  #bannerHubOuter {
    position: relative;
    min-height: 100px;
    max-height: 350px;
  }

  #bannerHubContainer {
    background-color: $banner-background-color;
    position: relative;
    padding-top: 25px;
  }

  // home page
  #hubHomepageContent {
    padding-top: 20px;
  }

  #main-content.homepage {
    padding-top: 0px;
  }

  #main-content {
    min-height: 1000px;
  }

  // carousel
  #bannerHub .carousel-caption {
    position: absolute;
    right: 80px;
    bottom: auto;
    top: 80px;
    left: auto;
    width: 15%;
    min-height: 100px;
    max-height: 200px;
    background: $inset-background-color;
    opacity: 0.75;
  }

  #bannerHub .carousel-caption h4, #bannerHub .carousel-caption p {
    color: $inset-text-color;
  }

  #bannerHub .carousel-caption p {
    Font-size: x-large;
    Font-weight: bold;
    Line-height: 1.2em;
  }

  #bannerHub .carousel-inner .item img {
    width: 100%;
    height: 100%;
  }

  //logo
  #bannerHubOuter .logo {
    left: 80px;
    top: -25px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    z-index: 5;
  }

  // search button
  #pt-search {
    Min-width: 150px;
    Max-width: 300px;
    Width: 20%;
    Padding: 5px;
  }

  #pt-search-link {
    Padding: 5px;
  }

  // title
  H1 {
    color: $title-text-color;
  }

  // space between header & banner
  #headerBannerSpace {
    background-color: $header-banner-space-background-color;
  }

  // form specific headers
  .output-section {
    position: relative;
    margin: 15px 0;
    padding: 50px 15px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  textarea {
    resize: none;
    height: auto;
  }

  .form-control, input.form-control, .input-append .add-on {
    padding: 6px 12px;
  }

  .full-width {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input.full-width-input {
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .boxed-heading {
    position: relative;
    margin: 15px 0;
    padding: 50px 15px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  /* Echo out a label for the example */
  .boxed-heading:after {
    content: attr(data-content);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 7px 15px;
    font-size: 125%;
    font-weight: 300;
    background-color: #ddd;
    border: 1px solid #ccc;
    color: inherit;
    line-height: 1;
  }

  /*image display size on project finder*/
  .image-logo {
    max-width: 100%;
    max-height: 100%;
  }

  .tall {
    width: auto;
    height: 100%;
  }
  ​
  .list-image-height {
    height: 120px;
  }

  #main-content {
    margin-top: 50px;
  }

  ul.quicklinks.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
    color: #fff;
    background-color: #c44d34;
  }

  .dropzone {
    width: 205px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #5F5D60;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #f5f5f5;
  }

  .popover-content{
    color: $body-text-color;
  }
}

#ala-header-bootstrap2 {
  .navbar-default .navbar-nav>li>a {color: #555;}
  .navbar-default .navbar-nav>li>a:hover {color: #111;}
}

//biocollect classic header
#biocollect-header{
  body.nav-getinvolved{
    padding-top: 0px;
  }

  nav#biocollectNav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    background: rgb(43, 123, 117);
  }

  nav#biocollectNav.ecoScienceNav > ul, nav#biocollectNav.ecoScienceNav > ul > li a, nav#biocollectNav.ecoScienceNav ul#main > li > a.ala-link {
    color: #555;
    background: rgb(148,222,255);
  }

  nav#biocollectNav.ecoScienceNav > ul > li a + ul li a:hover, nav#biocollectNav.ecoScienceNav > ul > li:hover > a {
    background: rgb(100,170,200);
  }

  nav#biocollectNav.ecoScienceNav ul > li.active > a {
    background: rgb(100,170,200);
  }

  nav#biocollectNav > ul > li {
    display: inline-block;
    position: relative;
  }
  nav#biocollectNav > ul > li.more > a .fa {
    color: yellow;
  }
  nav#biocollectNav > ul > li.hidden {
    display: none;
  }
  nav#biocollectNav > ul > li > a {
    border-right: 1px dashed white;
  }

  nav#biocollectNav > ul > li a {
    font-size: 1rem;
    display: block;
    background:rgb(43, 123, 117);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 5px 20px;
  }
  nav#biocollectNav > ul > li a .fa {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }

  nav#biocollectNav ul > li.active > a {
    background-color: #444d58;
  }

  nav#biocollectNav > ul > li a + ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 0;
    list-style-type: none;
  }
  nav#biocollectNav > ul > li a + ul li {
    margin-top: 1px;
    position: relative;
    /*
    Input when focused hides the drop down menu. This was happening since bootstrap sets z-index=2 when an
    input field is focused.
    */
    z-index: 3;
  }
  nav#biocollectNav > ul > li a + ul li a {
    padding-left: 16px;
    text-align: left;
    white-space: nowrap;
  }
  nav#biocollectNav > ul > li a + ul li a .fa {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }
  nav#biocollectNav > ul > li a + ul li a:hover {
    background: #444d58;
  }
  nav#biocollectNav > ul > li:hover > a {
    background: #444d58;
  }
  nav#biocollectNav > ul > li:hover ul {
    display: block;
  }

  nav#biocollectNav > ul > li.more > ul.more-ul > li > ul{
    display: block;
    position: relative;
  }

  .ala-icon:before {
    content: url(https://www.ala.org.au/wp-content/themes/ala2011/images/favicon.ico)
  }

  nav#biocollectNav ul#main > li > a.ala-link{
    padding-top:25px; !important;
    padding-bottom: 10px;!important;
    color:white;
    font-size: large;
    border-right: 0px dashed #d1f5d6;
  }

  nav#biocollectNav ul#main li a.ala-link:hover{
    color: #5f5d60;
    background: rgb(43, 123, 117);
  }

  .ala-header{
    background: url(https://www.ala.org.au/wp-content/themes/ala-wordpress-theme/img/species-by-location-phyllopteryx-taeniolatus.jpg) no-repeat center top;
    height: 225px;
    background-size: cover;
    background-position-y: -54px;
  }

  .ala-header .input-append, .ala-header-works .input-append, .ala-header-ecoscience .input-append {
    margin-top: 75px ;
  }

  .ala-header-works {
    background: url(https://www.ala.org.au/wp-content/uploads/2015/07/Revegetation.jpg) no-repeat center top;
    height: 225px;
    background-size: cover;
    background-position-y: -54px;
  }

  .ala-header-ecoscience {
    background: url(https://www.ala.org.au/wp-content/uploads/2015/07/ES-banner-4.jpg) no-repeat center top;
    height: 350px;
    background-size: cover;
    background-position-y: -90px;
  }

  #biocollectlogo {
    background-color: white !important;
  }
  #biocollectlogo > img {
    width: 193px;
  }

  .acsa-image {
    content: url(ACSA_logo_white.png);
    height: 45px;
  }

  nav#biocollectNav > ul > li#acsa-banner {
    display: inline-block;
  }

  nav#biocollectNav .more li#acsa-banner {
    display: none;
  }

  nav#biocollectNav > ul > li#acsa-banner a{
    border-right: 0px;
  }

  nav#biocollectNav .more li#acsa-text {
    display: inline-block;
  }

  nav#biocollectNav > ul > li#acsa-text {
    display: none;
  }

  .acsa-icon{
    content: url(acsa_icon.png);
    height: 20px;
  }

  .row-fluid{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}


#custom-header{
  .navbar {
    min-height: 58px;
    font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
    border-bottom: 0px solid #fff;
  }

  .navbar-inverse .navbar-inner {
    background-color: $menu-background-color;
    background-image: linear-gradient(to bottom, $menu-background-color, $menu-background-color);
    background-repeat: repeat-x;
    border-color: $menu-background-color;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  }

  .navbar-inverse .contain-to-grid {
    min-height: 52px;
    padding-top: 5px;
  }

  .navbar-inner ul.nav li {
    margin-top: 13px;
    font-size: 18px;
    min-height: 18px;
  }

  .navbar-inner a.brand {
    color: white;
    padding: 0 0;
  }

  .navbar-inner ul.nav > li > a {
    padding: 0 0 0 0;
  }

  .navbar .brand {
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px 0 10px;
  }

  .brand .headerLogo {
    max-height: 32px;
  }

  .navbar-inverse .nav > li.main-menu > a {
    color: $menu-text-color;
  }

  .navbar-inner ul li:not(:last-child) {
    border-right: 2px solid $menu-text-color;
    margin-right: 14px;
    padding-right: 14px;
  }
}

/* custom footer */
#custom-footer {
  background-color: $footer-background-color;
  color: #efefef;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 16px;

  .container {
    padding: 0 20px;
  }

  .nav {
    margin: 18px 0 20px 0;
    font-size: 18px;
    height: 18px;
  }

  ul.nav > li {
    float: left;
  }

  .navbar-inverse .nav > li > a {
    float: none;
    padding: 0;
    color: $footer-text-color;
    text-decoration: none;
  }

  .navbar-inverse .nav > li > a:hover {
    text-decoration: underline;
  }

  .navbar-inverse ul li:not(:last-child) {
    border-right: 2px solid $footer-text-color;
    margin-right: 14px;
    padding-right: 14px;
  }

  .navbar-inverse .brand {
    color: $footer-text-color;
    padding: 0;
  }


  #smlinks {
    margin-top: 5px;
  }

  #smlinks a {
    color: $social-text-color;
    text-decoration: none;
    margin-right: 5px;
  }

  @media (max-width: 979px) {
    .nav {
      font-size: 15px;
    }

  }

  #alaHeadingText {
    display: inline-block;
    margin-left: 5px;
    margin-top: 4px;
    line-height: 1.1em;
  }

  #alaLink .headerLogo {
    margin-top: -27px;
  }

  #poweredBy {
    font-size: 11px;
    display: block;
  }

  #alaBy {
    font-size: 16px;
  }

  .brand .headerLogo {
    height: 36px;
    padding-top: 10px;
    margin-top: -3px;
  }

}