/*
 *= require wmd/wmd.css
 *= require wmd-editor.css
 *= require validationEngine.jquery.css
 *= require_self
 */
/* Documents specific styles */

.nav-list.fc-docs-list {
    width: 100%;
    padding: 0;
}

.fc-docs-list-well {
    max-height: 550px;
    overflow-y: auto;
}

.fc-docs-list .media-body {
    line-height: 32px;
}

.well-small .fc-docs-list.nav-list > li > a,
.well-small .fc-docs-list.nav-list .nav-header,
.well-small .fc-docs-list.nav-list > li > div {
    margin-left: -9px;
    margin-right: -9px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Allow divs to masquerade as a in nav lists */
.nav-list > li > div {
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav > li > div:hover {
    text-decoration: none;
    background-color: #dcdcdc;
}

.nav-list > .active > div, .nav-list > .active > div:hover, .nav-list > .active > div:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.row-fluid [class*="span"].fc-resource-preview-container {
    position: relative;
    /*height: 100%;*/
    min-height: 600px;
    margin-bottom: 20px;
}

.well.fc-resource-preview-well {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-resource-preview {
    width: 100%;
    height: 100%;
    border: none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pointer {
    cursor: pointer;
}

.nav-list > .active > a > div.media-body > a,
.nav-list > .active > div > div.media-body > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.nav-list > .active > a > div.media-body > a:hover,
.nav-list > .active > a > div.media-body > a:focus,
.nav-list > .active > div > div.media-body > a:hover,
.nav-list > .active > div > div.media-body > a:focus {
    color: #ddd;
}

/* End Documents */

/* Data entry map styles */
.data-entry-map-container {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}

.banner-image-container {
    position: relative;
    max-height: 450px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
}

.banner-image-caption {
    position: absolute;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
}

.text-output {
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
}

.block-header {
    position: relative;
    top: -19px;
    left: -5px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.req-field:after {
    content: "*";
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}

.right-padding {
    padding-right: 8px
}

.padding-top-10{
    padding-top: 10px;
}

.organisation-search {
    margin-left: 0 !important;
    margin-top: 10px;
}

.organisation-list {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    height: 12em;
    overflow-y: scroll
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-1 {
    margin-left: 20px;
}

.margin-bottom-1 {
    display: inline-block;
    margin-bottom: 10px;
}

.margin-bottom-2 {
    display: inline-block;
    margin-bottom: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-1 {
    display: inline-block;
    margin-top: 10px;
}

.margin-top-2 {
    display: inline-block;
    margin-top: 20px;
}

.logo-icon {
    width: 16px;
    max-width: 16px;
    height: 16px;
    max-height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.small-logo {
    width: 100%;
}

.text-small-heading {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
}

.display-inline-block{
    display: inline-block;
    vertical-align: bottom;
}

.ellipsis-50{
    width: 50px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-aligned-label {
    margin-left: 0 !important;
    text-align: left !important;
}

#nav-site {
    background-color: rgb(27, 27, 27);
}

.associated-org {
    margin: 10px 10px 10px 0px;
}

.associated-org-no-logo {
    width: 100%;
    min-height: 135px;
    max-height: 300px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    position: relative;
    background: white;
}

.associated-org-no-logo span {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.padding-top-none {
    padding-top: 0 !important;
}

.padding-top-0 {
    padding-top: 10px;
}
.searchResultSection {
    padding-left: 20px;
}
.searchResultSection.locked h4 {
    margin-left:-19px;
}

.searchResultSection input {
    padding: 20px;
    margin: 0 0 10px 0;
}

.searchResultSection.spinner{
    display: none;
}

.info-panel {
    background-color: white
}

.checkbox-list {
    list-style-type: none;
    display: inline-block;
    margin-left: 0px;
}
.checkbox-list input[type=checkbox] {
    margin-bottom: 6px;
    margin-right: 10px;
}
.checkbox-list-label.label  {
    vertical-align: top;
    margin-top: 1em;
}

.timefield {
    max-width: 100px !important;
    width: 100px !important;
}

.timefield input {
    max-width: 85px !important;
    width: 85px !important;
}

.timeEntry-control {
    margin-left: 10px !important;;
    margin-top: 5px !important;;
}

.margin-left-30{
    margin-left: 30px;
}

.organisation-logo {
    width: 200px;
    height: 150px;
    margin-right: 10px;
    overflow: hidden;
    padding: 1px;
    float:left;
}
.organisation-logo img {
    vertical-align: top;
}

.organisation-text {
    margin-left: 220px;
    margin-top: 5px;
}

.organisation-text h4 {
    clear: none;
    margin-top: 0;
}

a[href^="http"]:not([href*="ala.org.au"]):not(.do-not-mark-external)::after {
    content: '\f08e';
    font-family: FontAwesome;
    padding-left: 5px;
    font-size: 10px;
    vertical-align: super;
}

.survey-listing-title {
    font-size: 150%;
    font-weight: bold;
    color: #C44D34;
}

/*
 * font weight is bold for popover text shown on children of th element. This will remove the weight.
 */
th .popover {
    font-weight: normal !important;
}

.image-attribution-panel {
    float: right;
    font-style: italic;
}

.red {
    color: red;
}

.green {
    color: green;
}

.float-none {
    float: none;
}

.vertical-button-divider {
    padding-top: 10px;
    padding-bottom: 5px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

input.padding-14, .padding-14{
    padding: 14px;
}

.sciStarterLogo{
    height: 50px;
    width: 50px;
    background-image: url(robot.png);
    background-repeat: no-repeat;
}

.sciStarterProjectFinderLogo{
    width: 25px;
}

.inline-block{
    display: inline-block;
}

.bioactivity-logo{
    max-height: 50px;
}


#floating-save {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
}
#floating-save .transparent-background {
    background-color:#000000;
    opacity: 0.2;
}
#floating-save div {
    width: 100%;
    height:30px;

    position: absolute;
    top: 0;
    left:0;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:center;
}
#floating-save button {
    top:5px;
}

.bg-black-color{
    background-color: black;
}


.speciesThumbnail {
    height:150px;
    width: auto;
}
.space-after{
    margin-bottom:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.imageDataTypePreview{
    max-height: 100%;
    max-width: 100%;
}

.table-custom-border.borderless td{
    border: none;
}

.list-search-text-input{
    max-width: 70%;
    min-width: 50%;
}

.searching-opacity, .ajax-opacity{
    opacity: 0.5;
}

.content-box {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.leaflet-container a[href^="http"]:not([href*="ala.org.au"]):not(.do-not-mark-external)::after {
    content: '';
    padding-left: 0px;
    vertical-align: baseline;
}

.label-ellipsis{
    max-width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input.full-width-input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.datepicker input, .datepicker .add-on{
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.photo-slider li{ margin: 0 4px; }


.photo-slider{
    overflow: hidden;
    position: relative;
    padding: 10px;
    background: #f6f6f6;
    border: 1px solid lightgrey;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
}
.photo-slider img {
    height: 180px;
    width:auto;
    width:auto;
}

.photo-slider p {
    padding-left:10px;
    background-color:lightgrey;
    color:black;
    margin-bottom:0px;
}

/** copied from ala-styles bootstrap3 since bootstrap2 did not have this style **/
section#breadcrumb li + li::before {
    content: "\f105";
    font-family: FontAwesome;
    margin: 0 .6em;
    height: .8em;
    opacity: .6;
}

section#breadcrumb {
    display: inherit;
}

.point-colour{
    color: #003eff;
}

#main-content a.btn-ala {
    color: #FFF;
}

.border-1 {
    border: 1px solid #ddd;
}

.padding-10{
    padding: 10px;
}


.form-control, input.form-control, .input-append .add-on {
    padding: 4px 5px;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input.full-width-input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}

/* add on */
.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child > .dropdown-toggle {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

/** header is responsive on screen size hence needs adjusting on different resolutions **/
#content-starting-point{
    margin-top: 0px;
}

/** data picker override */
.datepicker {
    padding: 0px !important;
}

@media (min-width: 980px) {
    #content-starting-point{
        margin-top: 70px;
    }
}