/* *= require validationEngine.jquery.css */
.output-block .required label, .validationEngineContainer .required label {
    position: relative;
}

.output-block .required label:after, .output-block th.required:after, .validationEngineContainer .required label:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.ie .output-block .required label:after, .ie .output-block th.required:after, .ie .validationEngineContainer .required label:after {
    font-size: 1em;
}

/* end todo */

/* bs4 layout */
#banner.no-image {
    height: 80px;
}

#banner.no-image:after {
    background-color: rgba(0,0,0,0);
}

.nav-row-height {
    height: 80px;
}
/* end bs4 layout */

/* project finder */
.scistarter-logo-pf {
    right: 0;
    top: 0;
    padding-right: 15px;
}

.project-logo {
    width: 200px;
    height: 150px;
    line-height: 146px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background-color: white;
}

.image-logo {
    max-width: 100%;
    max-height: 100%;
}

.wide {
    width: 100%;
    height: auto;
}

.tall {
    width: auto;
    height: 100%;
}

.logo-small {
    width: 25px;
    margin: 0 2px;
}

.logo-icon {
    width: 16px;
    max-width: 16px;
    height: 16px;
    max-height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.project-tag {
    background: orange;
    color: white;
    padding: 4px;
    white-space: nowrap;
}

/* end project finder */

/* all records or data pages*/
/* ajax-opactity also works project */
.searching-opacity, .ajax-opacity{
    opacity: 0.5;
}
#projectData {
    position: relative;
}

#survey-all-activities-and-records-content .data-container {
    display: block !important;
    height: auto !important;
    -webkit-transition: padding 500ms ease;
    transition: padding 500ms ease;
}

@media (min-width: 576px) {
    #survey-all-activities-and-records-content .data-container.show {
        padding-left:330px
    }
}

@media (min-width: 768px) {
    #survey-all-activities-and-records-content .data-container.show {
        padding-left:360px
    }
}
/* end all records */