/*  *= require wmd/wmd.css
 *= require wmd-editor.css
 *= require validationEngine.jquery.css
 *= require jquery.dataTables/1.11.3/datatables.css */
.output-block .required label, .validationEngineContainer .required label {
    position: relative;
}

.output-block .required label:after, .output-block th.required:after, .validationEngineContainer .required label:after, th.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.ie .output-block .required label:after, .ie .output-block th.required:after, .ie .validationEngineContainer .required label:after {
    font-size: 1em;
}

/* end todo */

/* bs4 layout */
#banner.no-image {
    height: 250px;
}
@media (min-width: 768px) {
    #banner.no-image {
        height: 150px;
    }
}

@media (min-width: 992px) {
    #banner.no-image {
        height: 250px;
    }

    #banner.no-image.margin-buffer {
        margin-top: 150px;
    }
}

#banner.no-content.no-image {
    height: 150px;
}

#banner.no-image:after {
    background-color: rgba(0,0,0,0);
}

#banner.no-image .project-title {
    background-color: inherit;
    color: inherit;
}

.nav-row-height {
    height: 80px;
}
/* end bs4 layout */

/* project finder */
.scistarter-logo-pf {
    right: 0;
    top: 0;
    padding-right: 15px;
}

.project-logo {
    width: 200px;
    height: 150px;
    line-height: 146px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background-color: white;
}

.image-logo {
    max-width: 100%;
    max-height: 100%;
}

.wide {
    width: 100%;
    height: auto;
}

.tall {
    width: auto;
    height: 100%;
}

.logo-small {
    width: 25px;
    margin: 0 2px;
}

.logo-icon {
    width: 16px;
    max-width: 16px;
    height: 16px;
    max-height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.project-tag {
    background: orange;
    color: white;
    padding: 4px;
    margin-right: 6px;
    white-space: nowrap;
}

/* end project finder */

/* all records or data pages*/
/* ajax-opactity also works project */
.searching-opacity, .ajax-opacity{
    opacity: 0.5;
}
#projectData {
    position: relative;
}

#survey-all-activities-and-records-content .data-container {
    display: block !important;
    height: auto !important;
    -webkit-transition: padding 500ms ease;
    transition: padding 500ms ease;
}

@media (min-width: 576px) {
    #survey-all-activities-and-records-content .data-container.show {
        padding-left:330px
    }
}

@media (min-width: 768px) {
    #survey-all-activities-and-records-content .data-container.show {
        padding-left:360px
    }
}
/* end all records */

/* project resources */
.preview {
    min-height: 600px;
}
/* END project resources */

/**
 * used in project activities for colour coding reliability tags
 */
.high {
    background: #4cbc4c;
    color: white;
    padding: 5px 10px;
    min-height: 30px;
    overflow-y: auto;
    font-size: 11px;
}

.moderate {
    background: #f3f61f;
    color: black;
    padding: 5px 10px;
    min-height: 30px;
    overflow-y: auto;
    font-size: 11px;
}

.low {
    background: #e22019;
    color: white;
    padding: 5px 10px;
    min-height: 30px;
    overflow-y: auto;
    font-size: 11px;
}

.na {
    background: #a5a9a5;
    color: #ffffff;
    padding: 5px 10px;
    min-height: 30px;
    overflow-y: auto;
    font-size: 11px;
}
/* END used in project activities for colour coding reliability tags */


/* needed by project index, edit pages */
/*
 *= require jquery.validationEngine/3.1.0/validationEngine.jquery.css
*/
/* END needed by project index, edit pages */
/*search sites*/
div.dataTables_wrapper div.dataTables_filter input{
    margin-left: 0;
}
/*end search sites*/
/** Permissions table */
.dataTables_length > label{
    width: 100%;
}
select[name='member-list_length']{
    max-width: 100px
}
/** END Permissions table */

/** audit table */
.dataTables_length > label {
    width: 100%;
}
select[name=project-list_length]{
    max-width: 100px
}

#project-list_filter > label {
    width: 100%;
}

#project-list_filter input[type=search] {
    width: 50%;
    min-width: 200px;
    display: inline;
}

#floating-save {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
}
#floating-save .transparent-background {
    background-color:#000000;
    opacity: 0.2;
}
#floating-save div {
    width: 100%;
    height:40px;

    position: absolute;
    top: 0;
    left:0;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:center;
}
#floating-save button {
    top:5px;
}
/** END Permissions table */

/** form field **/
.req-field:after {
    content: "*";
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}
/** END form field **/

/** bootstrap modifier */
.modal-zindex {
    z-index: 1050 !important;
}
/** END bootstrap modifier */

/* system banner message */
.env-message.alert {
    margin-bottom: 0px;
}
/* END system banner message */