.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height > div[class*='span'] {
    display: flex;
    flex-direction: column;
}

button.btn.btn-text-left{
    text-align: left;
}

#pt-selectors label.input-label{
    color: #5f5d60;
}

.facet-display-height{
    max-height: 200px;
    overflow-y: scroll;
}