.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height > div[class*='span'] {
    display: flex;
    flex-direction: column;
}

button.btn.btn-text-left{
    text-align: left;
}

#pt-selectors label.input-label{
    color: #5f5d60;
}

.facet-display-height{
    max-height: 200px;
    overflow-y: scroll;
}

section.filter-section {
    padding-bottom: 10px;
}

ul.custom-bullet {
    list-style-type: none;
}

.custom-bullet li {
    display: block;
}

ul.custom-bullet, ol {
    margin: 0 0 0 5px;
}

.custom-bullet li ~ li:before {
    font-family: 'FontAwesome';
    font-size: 10px;
    content: '\f054';
}

