/*
 *= encoding UTF-8
 *= require leaflet-manifest
 *= require fancybox/jquery.fancybox.css
 *= require fileupload-ui-manifest.css
 *
 * datepicker
 *= require bootstrap-datepicker/1.2.0/css/datepicker.css
 *
 * sites
 *= require sites.css
 *= require horizontal-scroll-list.css
 *
 * select2
 *= require select2/4.0.3/css/select2
 *
 * image-gallery
 *= require image-gallery.css
 *
 * audio
 *= require audio-control.css
 *
 * images
 *= require images.css
 *
 * comments
 *= require comment.css
 *
 * stacked table
 *= require responsive-table-stacked/stacked.css
 *
 *= require forms.css
 */


/** Override the select2 width determination (which doesn't work properly in tables) */
.select2-search--inline .select2-search__field {
    width:100% !important;
}

.select2-container .select2-selection--single {
    height: 30px;
    border: 0px;
}

.select2-results .species-image-holder {
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding-right: 5px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.select2-results .name-holder {
    margin: 0;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
    left: 85px;

}

.select2-results .species-result {
    position: relative;
    width: 350px;
    height:70px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid black;
    border-radius: 0;
    height: 40px;
}
.input-append .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 4px 0 0 4px;
}
.input-prepend .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 0;
}

.input-group .input-group-append .input-group-text, table .autocompleteSpecies .input-group-text {
    height: auto;
}

/*.card input[type=text], .card input[type=search], .card input[type=number], .card input[type=tel] {*/
/*    border: 1px solid black;*/
/*}*/

.table .table {
    background-color: #f2f2f2;
}

.table th, .table td {
    border-top: 1px solid #dee2e6 !important;
}

.select2-selection__placeholder, .select2-selection__rendered {
    font-size: 90%;
    color: #565656;
}

.select2-selection__rendered {
    font-size: 80%;
    color: #565656;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

.timefield {
    display: flex;
}

.timefield span {
    margin-left: 15px;
    margin-top: 5px;
}

#content .boxed-heading {
    position: relative;
    margin: 15px 0;
    padding: 50px 15px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#content .boxed-heading:after {
    content: attr(data-content);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 7px 15px;
    font-size: 125%;
    font-weight: 300;
    background-color: #ddd;
    border: 1px solid #ccc;
    color: inherit;
    line-height: 1;
}
