.images-image-width{
    width:40%;
}

.images-form-width{
    width:45%;
}

.padding-top-5{
    padding-top:5px;
}

.images-action-btns{
    text-align: right;
    width:15%;
}

.images-preview-width{
    border-bottom: 0px;
}

.images-carousel-size{
    height: 300px;
    width: 300px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.modal.large {
    width: 80%;
    margin-left:-40%;
}

.images-carousel{
    background-color: black;
}

.images-carousel img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    text-align: center;
}


.wide {
    width: 100%;
    height: auto;
}

.tall {
    width: auto;
    height: 100%;
}​