

body {
    background-color: #ffffff !important;
    font-family: FFDINWeb, sans-serif;
    padding-top: 0px;
}

h1,h2,h3,h4,h5 {
    font-family: FFDINWebLight, sans-serif;
}

input,button,
select,
textarea {
    font-family: FFDINWeb, sans-serif;
}

#breadcrumb {
    margin-top: 10px;
}

#main-content #searchInfoRow #customiseFacetsButton > .dropdown-menu {
    background-color: #ffffff;
}

body > #main-content {
    margin-top: 20px;
}

a {
    color: #00A18F;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #007777;
    text-decoration: underline;
}

.btn-primary {
    background-color: #009080;
    background-image: linear-gradient(to bottom, #00A18F,#009080);
    border-color: #009080 #009080 #00A18F #009080;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #009080;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #007777 \9;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background-color: #009080;
    background-image: linear-gradient(to bottom, #00A18F,#009080);
    border-color: #009080 #009080 #00A18F #009080;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: #f2684c;
    background-image: -moz-linear-gradient(top, #f37257, #f15a3b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f37257), to(#f15a3b));
    background-image: -webkit-linear-gradient(top, #f37257, #f15a3b);
    background-image: -o-linear-gradient(top, #f37257, #f15a3b);
    background-image: linear-gradient(to bottom, #f37257, #f15a3b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff37257', endColorstr='#fff15a3b', GradientType=0);
    border-color: #f15a3b #f15a3b #d0300f;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* Navbar */

.nav {
    margin-top: 20px;
}

#content .nav-tabs > li.active > a {
    background-color: #ffffff;
}

.brand .headerLogo {
    height: 36px;
    padding-top: 10px;
    margin-top: -3px;
}

#alaLink .headerLogo {
    margin-top: -27px;
}

#mdbaLink .headerLogo {
    margin-top: -12px;
}

#alaHeadingText {
    display: inline-block;
    margin-left: 5px;
    margin-top: 4px;
    line-height: 1.1em;
}

#mdbaHeadingText {
    display: inline-block;
    padding-top: 14px;
    padding-left: 5px;
}

#poweredBy {
    font-size: 11px;
    display: block;
}

#alaBy {
    font-size: 16px;
}

body .navbar {
    min-height: 58px;
    font-family: FFDINWeb, sans-serif;
}

.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #00A18F, #009080);
    background-repeat: repeat-x;
    border-color: #009080;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .contain-to-grid {
    min-height: 52px;
    padding-top: 5px;
    /*background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjA2OCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMDA5ZDhjIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDYwNjgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');*/
    /*background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #006068), color-stop(20%, #009d8c), color-stop(50%, #006068));*/
    /*background: -moz-linear-gradient(left, #006068 0%, #009d8c 20%, #006068 50%);*/
    /*background: -webkit-linear-gradient(left, #006068 0%, #009d8c 20%, #006068 50%);*/
    /*background: linear-gradient(to right, #006068 0%, #009d8c 20%, #006068 50%);*/
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #efefef;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 0;
}

.navbar-inner ul.nav li{
    margin-top: 13px;
    font-size: 18px;
    /*padding-top: 4px;*/
    min-height: 18px;
}

.navbar-inner ul li:not(:last-child) {
    border-right:2px solid white;
    margin-right:14px;
    padding-right:14px;
}

.navbar-inner a.brand {
    color: white;
    padding: 0 0;
}

.navbar-inner ul.nav > li > a {
    padding: 0 0 0 0;
}

.navbar .brand {
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px 0 10px;
}

.brand .headerLogo {
    max-height: 32px;
}

/* Footer */

#footer {
    background-color: #323334;
    color: #efefef;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 16px;
}

#footer .container {
    padding: 0 20px;
}

#footer .nav {
    margin: 18px 0 20px 0;
    /*margin-top: 13px;*/
    font-size: 18px;
    /*padding-top: 4px;*/
    height: 18px;
}

#footer ul.nav > li {
    float: left;
}

#footer .navbar-inverse .nav > li > a {
    float: none;
    padding: 0;
    color: #efefef;
    text-decoration: none;
    /*text-shadow: 0 1px 0 #ffffff;*/
}

#footer .navbar-inverse .nav > li > a:hover {
    /*background-color: #efefef;*/
    text-decoration: underline;
}

#footer .navbar-inverse ul li:not(:last-child) {
    border-right:2px solid white;
    margin-right:14px;
    padding-right:14px;
}

#footer #smlinks  {
    margin-top: 5px;
}

#footer #smlinks a {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
}

/* Home page */

#homeBanner {
    background-image: url("../images/kingfisher_strip.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #323334;
    height: 240px;
    padding: 20px 40px;
    margin-top: 0px;
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
}

#bannerImg {
    max-height: 250px;
    display: block;
    margin-left: 25px;
}
.indexBuffer {
    margin-top:50px;
}

.nav-well {
    display: block;
    width: 100%;
}

.homePageNav h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.homePageNav h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 5px;
}

.homePageNav h3.condensed {
    /*font-family: FFDINWebCond, sans-serif;*/
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 35px;
}

.nav-well {
    min-height: 135px;
    background-color: #e5e6e7;
    border: 0px solid #e5e6e7;
    padding: 30px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#quickSearchBox {
    margin-top: -46px;
    margin-bottom: 10px;
}

#quickSearchBox .input-append input {
    font-size: 20px;
    padding: 14px 20px 12px 25px;
    width: 200px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 250px;
    border-radius: 25px 0 0 25px;
    height: 20px !important;
    line-height: normal;
}

#quickSearchBox .input-append .btn:last-child,
#quickSearchBox .input-append .btn-group:last-child > .dropdown-toggle {
    font-size: 20px;
    padding: 14px 12px 12px 10px;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 25px 25px 0;
    border-radius: 0 25px 25px 0;
    line-height: 20px;
}


#main-content #customiseFacetsButton > .dropdown-menu,
#main-content #resultsReturned .dropdown-menu {
    background-color: #fff;
}

.staticContent {
    margin-top: 30px;
    padding-left: 14px;
    padding-right: 14px;
}

.staticContent h2, .staticContent h3, .staticContent h4 {
    color:#00A18F;
}

.leaflet-container a {
    color: #00A18F;
}

/* Responsive rules */

@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav > li > a,
    .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #efefef;
    }

    .navbar-inner ul li:not(:last-child), .navbar-inner ul li:last-child {
        border-right: none;
        margin:8px;
        padding:0px;
    }

    #footer .nav {
        font-size: 15px;
    }


}

@media (max-width: 767px) {

    #quickSearchBox .input-append input, #quickSearchBox .input-append .btn:last-child {
        height: 20px;
        padding: 4px 12px 2px 10px;
        min-height: 30px;
        box-sizing:inherit;
    }
}

/* MDBA specific biocollect rules to hide unnecessary information */

.header-days .project-start-date{
    display: none;
}

.header-days .project-end-date{
    display: none;
}

.breadcrumb{
    display: none;
}

.survey-list-actions{
    display: none;
}
/* END */