/*
 *= require leaflet-manifest
 *= require facets-filter-view.css
 *= require project-daystogo.css
 */

.projectLogo {
    width: 200px;
    height: 150px;
    line-height: 146px;
    overflow: hidden;
    padding: 3px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background-color: white;
}

.project-finder-table{
    width: 100%;
}

table.table-list.project-finder-table td{
    vertical-align: top;
}

table.table-list.project-finder-table tr{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-row-layout{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-row-status{
    width: 200px;
}

.projectType {
    padding-right: 10px;
    padding-left: 10px;
    background: grey;
    color: white;
    white-space: pre-line;
    display: inline-block;
    text-align: center;
}
input[type=checkbox] {
    margin-right: 5px;
}
#pt-downloadLink {
    margin-bottom: 0px;
    margin-top: 0px;
}

#pt-tags button {
    margin-top: 5px;
}

#pf-search{
    margin-top: 10px;
    margin-bottom: 10px;
}

#pt-searchControls{
    padding-top: 0px;
}

#pt-selectors{
    padding:10px;
}

#pt-search-link {
    padding: 14px;
}

#pt-search{
    min-width: 300px;
    width: 50%;
    max-width: 500px;
    padding: 14px;
    box-sizing: content-box;
    height: 20px;
}

#pt-control-buttons{
    margin-top:5px;
}

.padding5{
    padding-top:5px;
    padding-bottom:5px;
}

.pf-project-status{
    min-width:10em;
}
/**
 * for showing selected buttons
*/
#pt-selectors .btn-info.active{
    background-color:#fbaf44;
    color: #fff;
}

#pt-selectors  .btn-info.as-checkbox{
    background-color:#f5f5f5;
    background-image: none;
    border: none;
    box-shadow: none;
    padding: 0px;
    font-weight: 200;
    text-shadow: none;
    color: #C44D34;
    width: 100%;
    text-align: left;
}


#pt-selectors label {
    color: #C44D34;
    font-weight: 200;
}

#pt-selectors a {
    color: #C44D34;
    font-size: small;
}


.toggleIndicator.fa.fa-check-square-o {
    display: none;
    margin-left: 6px;
}

.active > .toggleIndicator.fa.fa-check-square-o {
    display: inherit;
    margin-top: 5px;
}

.toggleIndicator.fa.fa-square-o {
    display: inherit;
    margin-left: 6px;
    margin-top: 5px;
}

.active > .toggleIndicator.fa.fa-square-o {
    display: none;
}

/**
 * hide green background
 */
#pf-search .input-append .active, .input-prepend .active {
    border-color: #f15a3b;
}

/*image display size on project finder*/
.image-logo{
    max-width: 100%;
    max-height: 100%;
}

.wide {
    width: 100%;
    height: auto;
}

.tall {
    width: auto;
    height: 100%;
}​


 .no-sidebar {
     margin-left: 0 !important;
 }

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none;
    /* Very important */
}

.project-results {
    font-size: 20px;
}