/*
 * Pop-over on acordion works.
 */
.allow-overflow.in {
    overflow: visible;
}

#notification-selected-members {
    max-height: 200px;
    overflow-y: auto;
}

#newspeciesNameSearch {
    z-index: 1050
}