
.edit-view-meri-plan table, .project-dashboard table {
    margin-bottom: 10px;
}

.edit-view-meri-plan table thead th, .project-dashboard table thead th {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    line-height: 1.3;
    background-color: #f5f5f5
}

.edit-view-meri-plan table tbody td, .project-dashboard table tbody td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    line-height: 1.3;
}

.edit-view-meri-plan table tfoot td, .project-dashboard table tfoot td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    line-height: 1.3;
}

.edit-view-meri-plan table td textarea, .project-dashboard table td textarea {
    width: 100%;
    box-sizing: border-box;
}

.project-issues td select {
    width: 100%;
    box-sizing: border-box;
}

.project-issues .type {
    width: 20%;
}

.project-issues .date {
    width: 10%;
}

.project-issues .priority {
    width: 10%;
}

.project-issues .status {
    width: 10%;
}

.project-issues .description {
    width: 20%;
}

.project-issues .actionPlan {
    width: 20%;
}

.project-issues .impact {
    width: 10%;
}

#activities tr.Milestone {
    border-top: 1px solid grey;
    border-botton: 1px solid grey;
    background: lightgrey;
}

.outcomes-progress .date {
    width: 15%;
}

.outcomes-progress .type {
    width: 15%;
}

.outcomes-progress .progress {
    width: 65%;
}

.outcomes-progress .outcome-progress textarea {
    box-sizing: border-box;
    width: 100%;
}

.outcomes-progress .controls {
    width: 5%;
    min-width: 30px;
}

table.outcome-targets.table thead tr:first-child th {
    border-top: 1px solid #ccc; !important;
}
.outcome-targets .index {
    width: 2%;
}
.outcome-targets .baseline {
    width: 35%;
}
.outcome-targets .target {
    width: 35%;
}
.outcome-targets .assets {
    width: 20%;
}
.outcome-targets .controls {
    width: 4%;
}
.outcome-targets textarea {
    box-sizing: border-box;
    width: 100%;
}
.announcements th {
    white-space: normal;
}

#createOrUpdateActivity{
    width: 700px;
}

.table-hover tbody tr:hover.no-highlight-on-hover>td, .table-hover tbody tr:hover.no-highlight-on-hover>th {
    background-color: white;
}

table.milestones {
    width:100%;
}

table.milestones .date {
    width: 15%;
}
table.milestones .description {
    width: 70%;
}
table.milestones .progress {
    width: 15%;
}
table.outcomes-progress {
    width: 100%;
}

.project-dashboard .project-statistics {
    page-break-before: always;
}

.project-dashboard .margin-right-20 {
    margin-right: 0;
}

.project-dashboard tr.Milestone {
    border-top: 1px solid grey;
    border-botton: 1px solid grey;
    background: lightgrey;
}

.project-dashboard tr.Milestone td {
    background: lightgrey !important;
}

.project-dashboard .outcome-progress, .project-dashboard .milestone-progress, .project-dashboard .milestone-description {
    white-space: pre;
}


/* Start editable table styles */

.editable-table-header-controls-displayed-rows select {
    width: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.editable-table-footer-controls-add-row select {
    width: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* End editable table styles */


/* Start budget table styles */

.project-budget-container {
    width: 100%;
    overflow-y: inherit;
    overflow-x: scroll;
}

table.project-budget-table tr {
    text-align: center;
}

table.project-budget-table td.project-budget-item-number > span {
    width: 15px;
}

table.project-budget-table .project-budget-item-category > select {
    width: 125px;
}

table.project-budget-table .project-budget-item-category > span {
    width: 95px;
}

table.project-budget-table .project-budget-item-payment-number input {
    width: 100px;
}
table.project-budget-table .project-budget-item-payment-number select {
    width: 100px;
}

table.project-budget-table .project-budget-item-payment-number > span {
    width: 95px;
}

table.project-budget-table .project-budget-item-fund-class > select {
    width: 120px;
}

table.project-budget-table .project-budget-item-fund-class > span {
    width: 75px;
}

table.project-budget-table .project-budget-item-funding-source input {
    width: 100px;
}
table.project-budget-table .project-budget-item-funding-source select {
    width: 100px;
}

table.project-budget-table .project-budget-item-funding-source > span {
    width: 95px;
}

table.project-budget-table .project-budget-item-payment-status > select {
    width: 150px;
}

table.project-budget-table .project-budget-item-payment-status > span {
    width: 135px;
}

table.project-budget-table td.project-budget-item-description > textarea {
    width: 200px;
}

table.project-budget-table td.project-budget-item-description > span {
    /* size to content */
}

table.project-budget-table td.project-budget-item-due-date input {
    /* size to datepicker */
}

table.project-budget-table td.project-budget-item-due-date > span {
    width: 80px;
}

table.project-budget-table td.project-budget-item-year input {
    width: 125px;
}

table.project-budget-table td.project-budget-item-year > span {
    width: 70px;
    max-width: 115px;
}

table.project-budget-table td.project-budget-item-total > span {
    width: 180px;
}

table.project-budget-table .project-budget-item-risk-status > select {
    width: 115px;
}

table.project-budget-table .project-budget-item-risk-status > span {
    width: 110px;
}

/* End budget table styles */

/* Start funding table styles */

.project-funding-container {
    width: 100%;
    overflow-y: inherit;
    overflow-x: scroll;
}

table.project-funding-table tr {
    text-align: center;
}

table.project-funding-table td.project-funding-item-number > span {
    width: 15px;
}

table.project-funding-table td.project-funding-item-date input {
    /* size to datepicker */
}

table.project-funding-table td.project-funding-item-date > span {
    width: 80px;
}
table.project-funding-table td.project-funding-item-fund-source input {
    width: 125px;
}

table.project-funding-table td.project-funding-item-fund-source > span {
    width: 120px;
}

table.project-funding-table .project-funding-item-fund-type > select {
    width: 190px;
}

table.project-funding-table .project-funding-item-fund-type > span {
    width: 75px;
}

table.project-funding-table .project-funding-item-fund-class > select {
    width: 100px;
}

table.project-funding-table .project-funding-item-fund-class > span {
    width: 95px;
}

table.project-funding-table td.project-funding-item-description > textarea {
    width: 300px;
}

table.project-funding-table td.project-funding-item-description > span {
    /* size to content */
}

table.project-funding-table td.project-funding-item-internal-amount input {
    width: 125px;
}

table.project-funding-table td.project-funding-item-internal-amount > span {
    width: 70px;
    max-width: 115px;
}

table.project-funding-table td.project-funding-item-external-amount input {
    width: 125px;
}

table.project-funding-table td.project-funding-item-external-amount > span {
    width: 70px;
    max-width: 115px;
}

/* Start funding table styles */