
.edit-view-meri-plan table, .project-dashboard table {
    margin-bottom: 10px;
}

.edit-view-meri-plan table thead th, .project-dashboard table thead th {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    line-height: 1.3;
    background-color: #f5f5f5
}

.edit-view-meri-plan table tbody td, .project-dashboard table tbody td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    line-height: 1.3;
}

.edit-view-meri-plan table tfoot td, .project-dashboard table tfoot td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    line-height: 1.3;
}

.edit-view-meri-plan table td textarea, .project-dashboard table td textarea {
    width: 100%;
    box-sizing: border-box;
}

.project-issues td select {
    width: 100%;
    box-sizing: border-box;
}

.project-issues .type {
    width: 20%;
}

.project-issues .date {
    width: 10%;
}

.project-issues .priority {
    width: 10%;
}

.project-issues .status {
    width: 10%;
}

.project-issues .description {
    width: 20%;
}

.project-issues .actionPlan {
    width: 20%;
}

.project-issues .impact {
    width: 10%;
}

#activities tr.Milestone {
    border-top: 1px solid grey;
    border-botton: 1px solid grey;
    background: lightgrey;
}

.outcomes-progress .date {
    width: 15%;
}

.outcomes-progress .type {
    width: 15%;
}

.outcomes-progress .progress {
    width: 65%;
}

.outcomes-progress .outcome-progress textarea {
    box-sizing: border-box;
    width: 100%;
}

.outcomes-progress .controls {
    width: 5%;
    min-width: 30px;
}

table.outcome-targets.table thead tr:first-child th {
    border-top: 1px solid #ccc; !important;
}
.outcome-targets .index {
    width: 2%;
}
.outcome-targets .baseline {
    width: 35%;
}
.outcome-targets .target {
    width: 35%;
}
.outcome-targets .assets {
    width: 20%;
}
.outcome-targets .controls {
    width: 4%;
}
.outcome-targets textarea {
    box-sizing: border-box;
    width: 100%;
}
.announcements th {
    white-space: normal;
}

#createOrUpdateActivity{
    width: 700px;
}

.table-hover tbody tr:hover.no-highlight-on-hover>td, .table-hover tbody tr:hover.no-highlight-on-hover>th {
    background-color: white;
}

table.milestones {
    width:100%;
}

table.milestones .date {
    width: 15%;
}
table.milestones .description {
    width: 70%;
}
table.milestones .progress {
    width: 15%;
}
table.outcomes-progress {
    width: 100%;
}

table.budget {
    width: 100%;
}

table.budget th {
    white-space: normal;
}

table.budget .index {
    width:2%;
}

table.budget .category {
    width:5%;
}

table.budget .payment-number {
    width:5%;
}

table.budget .payment-status {
    width:2%;
}


table.budget .funding-source {
    width: 10%;
}

table.budget .due-date {
    width:6em;
    padding-right: 30px;
}

.budget-table-read-only table.budget .due-date {
    width:7%;
    padding-right: 5px;
}

table.budget select, table.budget textarea, table.budget input {
    width: 100%;
    box-sizing: border-box;
}

table.budget input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}


.project-dashboard .project-statistics {
    page-break-before: always;
}

.project-dashboard .margin-right-20 {
    margin-right: 0;
}

.project-dashboard tr.Milestone {
    border-top: 1px solid grey;
    border-botton: 1px solid grey;
    background: lightgrey;
}

.project-dashboard tr.Milestone td {
    background: lightgrey !important;
}

.project-dashboard .outcome-progress, .project-dashboard .milestone-progress, .project-dashboard .milestone-description {
    white-space: pre;
}
